
.cta-section {
  background-color: #f1eee9; 
  padding: 80px 20px;
  text-align: left; 
}

.cta-content {
  max-width: 1000px; 
  margin: 0 auto; 
  
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.cta-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333;
  max-width: 70%; 
  line-height: 1.2;
}

.cta-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  max-width: 70%; 
  line-height: 1.6;
}

.cta-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  
  background-color: #0b2f4a; 
  color: white;
  
  font-size: 16px;
  font-weight: 500;
  align-self: flex-end; 
  margin-top: -80px; 
}

@media (max-width: 850px) {
  .cta-content {
    flex-direction: column;
    align-items: center; 
    text-align: center;
  }
  
  .cta-title, .cta-description {
    max-width: 100%; 
  }

  .cta-button {
    align-self: center; 
    margin-top: 20px; 
  }
}