.contenedor-servicios-activos {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 90%;
  margin: auto;
}

.contenedor-servicios-activos h2 {
  color: #000000;
}

.contenedor-servicios-activos p {
  color: #000000;
}

.card-servicio {
  background: white;
  padding: 25px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 80px 1fr 1fr auto;
  align-items: center;
  gap: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.foto-perfil {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.datos h3 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.datos p {
  color: #000000;
}

.fecha h4 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.fecha p {
  color: #000000;
}

.pill {
  background: #d5a454;
  color: white;
  padding: 6px 18px;
  border-radius: 20px;
  font-weight: bold;
}

.btn-finalizar {
  margin-top: 12px;
  background: #d9534f;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}



/* Tabs */
.tabs-servicios {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

/* Tabs botones */
.tabs-servicios button {
  padding: 10px 20px;
  border-radius: 10px;
  background: #eee;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #000000;
}

/*Activos*/
.tab-activa-activos {
  background: #d5a454 !important; 
  color: white !important;
}

/*Finalizados*/
.tab-activa-finalizados {
  background: #4caf50 !important; 
  color: white !important;
}
/* Estado finalizado */
.pill-finalizado {
  background: #4caf50;
  color: white;
  padding: 6px 18px;
  border-radius: 20px;
  font-weight: bold;
}

.texto-finalizado {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
}
